<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitcola.exchange.security.auth.mapper.SystemMapper" >

  <select id="load" resultType="java.util.Map">
      select * from ag_auth_v1.system_maintain
  </select>

</mapper>