<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcola.exchange.mapper.MatchRecordMapper">
    <insert id="batchInsert" parameterType="java.util.List">
        insert into  ag_admin_v1.cola_exchange_match_record
        (id,order_id,type,price,number,timestamp,pair,fee,fee_coin_code,direction,dump,user_id)
        values
        <foreach collection ="list" item="recordCollector" index= "index" separator =",">
            (
            #{recordCollector.id}, #{recordCollector.orderId},
            #{recordCollector.type},  #{recordCollector.price},
            #{recordCollector.number},  #{recordCollector.timestamp},
            #{recordCollector.pair},  #{recordCollector.fee},
            #{recordCollector.feeCoinCode},#{recordCollector.direction},
            #{recordCollector.dump},#{recordCollector.userId}
            )
        </foreach>
    </insert>

    <select id="selectDealNumberByOrderId" resultType="java.math.BigDecimal">
        select sum(price*number) from ag_admin_v1.cola_exchange_match_record where order_id = #{orderId}
    </select>

</mapper>