<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcola.chain.mapper.ColaChainKeyMapper">
    <resultMap id="depositMap" type="com.bitcola.chain.entity.ColaChainKey">
        <id property="module" column="module"/>
        <result property="key" column="key"/>
        <result property="description" column="description"/>
    </resultMap>



</mapper>