<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcola.chain.mapper.ColaChainEthTokenMapper">

    <resultMap id="ethTokenMap" type="com.bitcola.chain.entity.ColaChainEthToken">
        <result property="coinCode" column="coin_code"/>
        <result property="contract" column="contract"/>
        <result property="unit" column="unit"/>
    </resultMap>

    <select id="getEthTokenByContract" resultMap="ethTokenMap">
        select * from bitcola_chain.cola_chain_eth_token where contract = #{contract}
    </select>
</mapper>