<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcola.chain.mapper.ColaChainModuleMapper">

    <select id="getNotRunningModule" resultType="com.bitcola.chain.entity.ColaChainModule">
        select * from bitcola_chain.cola_chain_module where maintain &lt;> 0 and (status = 'NOT_RUNNING' or
         timestamp &lt; floor(extract(epoch from now()))*1000-30*1000)
        limit 1
    </select>

</mapper>