<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcola.exchange.security.me.mapper.ColaCoinMapper">



    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bitcola.me.entity.ColaCoin" id="colaCoinMap">
        <result property="id" column="id"/>
        <result property="coinCode" column="coin_code"/>
        <result property="coinCodeCn" column="coin_code_cn"/>
        <result property="coinCodeEn" column="coin_code_en"/>
        <result property="coinNote" column="coin_note"/>
        <result property="website" column="website"/>
        <result property="isNeedNote" column="is_need_note"/>
        <result property="feesPercent" column="fees_percent"/>
        <result property="feesFlat" column="fees_flat"/>
        <result property="blockBrowser" column="block_browser"/>
        <result property="isWithdraw" column="is_withdraw"/>
        <result property="isRecharge" column="is_recharge"/>
        <result property="isErc20" column="is_erc20"/>
        <result property="withdrawOne" column="withdraw_one"/>
        <result property="withdrawAmount" column="withdraw_amount"/>
        <result property="withdrawAuto" column="withdraw_auto"/>
        <result property="feesReal" column="fees_real"/>
        <result property="icon" column="icon"/>
        <result property="prec" column="prec"/>
        <result property="rechargeDescriptionCn" column="recharge_description_cn"/>
        <result property="rechargeDescriptionEn" column="recharge_description_en"/>
        <result property="minWithdrawNumber" column="min_withdraw_number"/>
        <result property="depositConfirmationNumber" column="deposit_confirmation_number"/>
        <result property="confirmationNumber" column="confirmation_number"/>
        <result property="sort" column="sort"/>
        <result property="feeCoinCode" column="fee_coin_code"/>
        <result property="cnyScale" column="cny_scale"/>
        <result property="usdScale" column="usd_scale"/>
        <result property="jpyScale" column="jpa_scale"/>
        <result property="eurScale" column="eur_scale"/>
        <result property="gbpScale" column="gbp_scale"/>
        <result property="belong" column="belong"/>
        <result property="depositMin" column="deposit_min"/>
    </resultMap>


    <!--通过 coinCode 获取币种-->
    <select id="getByCoinCode" resultMap="colaCoinMap">
        select * from ag_admin_v1."cola_coin" where "coin_code" = #{coincode}
    </select>

    <select id="getPricePair" resultType="java.lang.String">
        select
	"coin_code"||'_'||"symbol"
from
	ag_admin_v1."cola_coin_symbol"
where
	"coin_code" = #{coin}
and "symbol" = 'EOS'
union all
	(
		select
			"coin_code"||'_'||"symbol"
		from
			ag_admin_v1."cola_coin_symbol"
		where
			"coin_code" = #{coin}
		and "symbol" != 'EOS'
		order by
			"sort"
	)
limit 1
    </select>

    <select id="list" resultType="java.util.Map">
        select coin_code as coinCode,coin_code_en fullName,icon,is_withdraw as allowWithdraw,
               is_recharge as allowDeposit,deposit_confirmation_number as depositConfirmationNumber,
               is_need_note as isNeedNote
        from ag_admin_v1.cola_coin order by sort
    </select>




</mapper>