<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcola.exchange.security.me.mapper.ColaLoginLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bitcola.me.entity.ColaLoginLog" id="colaLoginLogMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="nickName" column="nick_name"/>
        <result property="time" column="time"/>
        <result property="platform" column="platform"/>
        <result property="device" column="device"/>
        <result property="version" column="version"/>
        <result property="ip" column="ip"/>
        <result property="area" column="area"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="log" resultMap="colaLoginLogMap">
        select * from ag_admin_v1."cola_login_log" where "user_id" = #{userId}
        order by time desc limit #{limit} OFFSET (#{limit}*(#{page}-1))
    </select>

    <select id="countLog" resultType="java.lang.Integer">
        select count(1) from ag_admin_v1."cola_login_log" where "user_id" = #{userId}
    </select>

    <select id="csv" resultMap="colaLoginLogMap">
        select * from ag_admin_v1."cola_login_log" where "user_id" = #{userId} limit 100
    </select>

</mapper>